workDir = './data/.work'

params {
    outdir = './data/nfoutput'

    genomes {

        'hg19' {
            db = '/mnt/data/gdata/human/hg19/hg19lambda'
        }
        
    }
}

dag {
    overwrite = true
    enabled = false
}

trace {
    overwrite = true
}

report {
    overwrite = true
}

conda {
  enabled = true
  channels = ['conda-forge', 'bioconda', 'defaults']
}